body {
    background: black;
    margin: 0;
    padding: 0;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}

.clock {
    
    color: #ff6f3c;
    font-size: 80px;
    font-family: sans-serif;
    letter-spacing: 5px;

}
